form > * {
    margin: 5px 0;
}

form {
    max-width: 500px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

input[type=text], input[type=submit], input[type=number], input[type=password] {
  width: 100%;
}
