.logo {
    padding-top: 3%;
    font-weight: bold;
    font-size: 3em;
}

form > * {
    margin: 5px 0;
}

form {
    max-width: 500px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

input[type=text], input[type=submit], input[type=number] {
  width: 100%;
}
